* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Press Start 2P", sans-serif;
  background-color: black;
  color: white;
  padding: 15px;
}

header {
  border-bottom: 7px solid #eee;
  position: relative;
  height: 35vh;
}

.btn-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-again {
  font-size: 22px;
  padding: 24px 32px;
  cursor: pointer;
  font-family: "Press Start 2P", sans-serif;
}

.heading {
  margin-top: 40px;
  font-size: 40px;
  text-align: center;
}

.guess {
  background: #eee;
  color: #333;
  font-size: 40px;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.main-section {
  margin-top: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-number {
  width: 200px;
  height: 70px;
  padding: 20px 30px;
  border: none;
  margin-bottom: 10px;
  font-size: 48px;
  border: 4px solid #eee;
  font-family: "Press Start 2P", sans-serif;
  background-color: black;
  color: white;
}

.btn-check {
  width: 175px;
  margin-top: 25px;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Press Start 2P", sans-serif;
}

.start-guess {
  margin-bottom: 45px;
}

.score,
.high-score {
  margin-top: 25px;
}
